INPUT.custom-input-text {
    background-color: #f8f8f8;
    font-family: 'Titillium Web', sans-serif;
    /*font-weight: bold;*/
    height: 100%;
    padding: 10px 20px 10px 20px;
    border: 1px solid #696969;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
}

INPUT.custom-input-text:focus {
    background-color: white;
}

TEXTAREA.custom-textarea-text {
    background-color: #f8f8f8;
    font-family: 'Titillium Web', sans-serif;
    /*font-weight: bold;*/
    height: 100%;
    padding: 10px 20px 10px 20px;
    border: 1px solid #696969;
    border-radius: 3px;
    resize: none;
    -webkit-transition: all 0.3s ease;
}

TEXTAREA.custom-textarea-text:focus {
    background-color: white;
}

.row > .custom-textarea-text{
    margin: 15px 0 0 0;
}